<h3>Update Patient</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="patientName" required [(ngModel)]="patient.patientName" name="patientName">
    </div>

    <div class="form-group">
      <label for="name">Status</label>
      <input type="text" class="form-control" id="patientStatus" required [(ngModel)]="patient.patientStatus" name="patientStatus">
    </div>

    <button type="submit" class="btn btn-success">Update</button>
  </form>
</div>
